<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>원두콩</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/lightbox.css" rel="stylesheet">
    <link href="assets/css/icon_style.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    
      
<body>
    <!-- Header
	============================================= -->
    <section class="main-header">

       <div class="main_nav">
            <h1 class="main_logo">
             <a href="#" title="wanducong" class="sprite logo_link"></a>
            </h1>
           
            <section id="search">
                <div class="container">
                    <div class="nav-search col-md-10">
                        <form role="search" class="navsearch-form" action="#" method="get">
                            <input class="navsearch-field col-md-10" type="text" name="s" id="s" placeholder=" ex : 홍대카페"
                      required>
                            <button class="navbtn navsearch-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
           </section>
           
       <!-- 로그인 / 회원 가입 / 회원 정보 부분 -->
           <div class="main_menu">
             <a href="#" class="login_link">로그인</a>
               &nbsp;
             <a href="#" class="login_link">이OO님 안녕하세요!</a>
           </div>
         </div> 
    </section>
    
        
    <!--==============지역별 카페 모아보기 =======================-->
   
    <div class="container htc-container" >
        <div class="row white">
          <div class="font-form">
            <div class="ht-font1" >
                <h1>혜화</h1>    
            </div>
            <div class="ht-font2">
               <h1>빈티지 감성 혜화</h1>
            </div>
            <div class="ht-font3">
                <h1>요즘 핫한 혜화 카페</h1>  
            </div>
           </div>
           
             <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(/assets/cafe/romont02.jpg)">
                    <div class="text">
                        <div class="htcafe-name">
                            <p>혜화 카페1 
                                <img src="assets/img/before_images/consent_hover.png" class="htcafe-filter"/>
                                <img src="assets/img/before_images/dessert_hover.png" class="htcafe-filter"/>
                            </p>  
                        </div>
                        <div class="htcafe-line">
                         <div class="htcafe-ex">
                            <p>조용하고 한적한 카페. 콘센트도 넉넉해서 스터디하기도 좋다. 화분이 많고 영화를 틀어주는 것이 특징. 와인도 판다는게 독특하다.</p>
                         </div>  
                       </div>    
                    </div>  
                </div>
            </div>  
                 
            
             <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(assets/img/cafe/cafe08.png)">
                    <div class="text" style="margin-left:30px;">
                        <div class="htcafe-name">
                            <p>혜화 카페2
                                <img src="assets/img/before_images/consent_hover.png" class="htcafe-filter"/>
                                <img src="assets/img/before_images/dessert_hover.png" class="htcafe-filter"/>
                            </p>  
                        </div>
                        <div class="htcafe-line">
                         <div class="htcafe-ex">
                            <p>넓고 테이블이 많은 2층 카페. 단체로 앉을 수 있는 넓은 테이블도 많아서 팀플이나 스터디 하기에 좋다. 다만 콘센트가 넉넉하지는 않다</p>
                         </div>  
                       </div>    
                    </div>  
                </div>
            </div>
            
            <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(assets/img/cafe/cafe08.png)">
                    <div class="text" style="margin-left:30px;">
                        <div class="htcafe-name">
                            <p>혜화 카페2
                                <img src="assets/img/before_images/consent_hover.png" class="htcafe-filter"/>
                                <img src="assets/img/before_images/dessert_hover.png" class="htcafe-filter"/>
                            </p>  
                        </div>
                        <div class="htcafe-line">
                         <div class="htcafe-ex">
                            <p>넓고 테이블이 많은 2층 카페. 단체로 앉을 수 있는 넓은 테이블도 많아서 팀플이나 스터디 하기에 좋다. 다만 콘센트가 넉넉하지는 않다</p>
                         </div>  
                       </div>    
                    </div>  
                </div>
            </div>
            
            <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(assets/img/cafe/cafe08.png)">
                    <div class="text" style="margin-left:30px;">
                        <div class="htcafe-name">
                            <p>혜화 카페2
                                <img src="assets/img/before_images/consent_hover.png" class="htcafe-filter"/>
                                <img src="assets/img/before_images/dessert_hover.png" class="htcafe-filter"/>
                            </p>  
                        </div>
                        <div class="htcafe-line">
                         <div class="htcafe-ex">
                            <p>넓고 테이블이 많은 2층 카페. 단체로 앉을 수 있는 넓은 테이블도 많아서 팀플이나 스터디 하기에 좋다. 다만 콘센트가 넉넉하지는 않다</p>
                         </div>  
                       </div>    
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="social">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
            </div>
            <h6>&copy; 2016 Development By Wonducong Team</h6>
        </div>
    </div>
</body>
    
    
    
            
</html>
