<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>원두콩</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/lightbox.css" rel="stylesheet">
    <link href="assets/css/icon_style.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    
    
    
<body>
    <!-- Header
	============================================= -->
    <section class="main-header">

       <div class="main_nav">
           <h1 class="main_logo">
             <a href="#" title="wanducong" class="sprite logo_link"></a>
           </h1>
           
           <section id="search">
                <div class="container">
                    <div class="nav-search col-md-10">
                        <form role="search" class="navsearch-form" action="#" method="get">
                            <input class="navsearch-field col-md-10" type="text" name="s" id="s" placeholder=" ex : 홍대카페"
                      required>
                            <button class="navbtn navsearch-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
           </section>
           
       <!-- 로그인 / 회원 가입 / 회원 정보 부분 -->
           <div class="main_menu">
             <a href="#" class="login_link">로그인</a>
               &nbsp;
             <a href="#" class="login_link">이OO님 안녕하세요!</a>
           </div>
         </div>
        
        
    </section>
        
    <!--==============지역별 카페 모아보기 =======================-->
    <div class="container " >
        <div class="row col-md-12 ">
            <div style="font-weight: bold; font-size:50px; line-height: 2em; text-align: center; margin-top : 100px;" >
                <h1>"교대"</h1>    
            </div>
            <div style= "font-size: 30px;line-height: 1.5em;  text-align: center;">
               <h1>야 나랑 교대 좀 해주라..</h1>
            </div>
            <div style= "font-size:22px; line-height: 1.5em; padding-bottom:50px; text-align: center;">
                <h1>요즘 핫한 교대 카페</h1>  
            </div>
           
            <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(assets/img/cafe/romont02.jpg) ">
                    <div class="text" style="margin-left:30px;">
                        <div style= "font-size:35px; position:absolute; padding-bottom: 15px; bottom:60px; color:white;">
                            <p>교대 카페1 
                                <img src="assets/img/before_images/consent_hover.png" style="width: 100%; max-width:35px;"/>
                                <img src="assets/img/before_images/dessert_hover.png" style="width: 100%; max-width:35px;"/>
                            </p>  
                        </div>
                        <div style= "font-size:18px; position:absolute; padding-bottom:10px; bottom:10px; color:white; margin-right:30px; ">
                            <p>조용하고 한적한 카페. 콘센트도 넉넉해서 스터디하기도 좋다. 화분이 많고 영화를 틀어주는 것이 특징. 와인도 판다는게 독특하다.</p>
                        </div>  
                    </div>
                        
                    <div style="position: absolute; bottom:65px; padding-bottom: 50px; width:600px; border-bottom:1.5px solid white; "></div>
                </div>
            </div>  
                        
            <div id="image" class="image22">
                <div class="hot-cafe" style="background-image: url(assets/img/cafe/cafe08.png) ">
                    <div class="text" style="margin-left: 30px;">
                        <div style= "font-size:35px; position:absolute; padding-bottom: 15px; bottom:60px; color:white;">
                             <p>교대 카페2
                                <img src="assets/img/before_images/consent_hover.png" style="width: 100%; max-width:35px;"/>
                                <img src="assets/img/before_images/plus_hover.png" style="width: 100%; max-width:35px;"/>
                            </p>
                        </div>
                        <div style= "font-size:18px; position:absolute; padding-bottom:10px; bottom:10px; color:white; margin-right:30px; ">
                            <p>넓고 테이블이 많은 2층 카페. 단체로 앉을 수 있는 넓은 테이블도 많아서 팀플이나 스터디 하기에 좋다. 다만 콘센트가 넉넉하지는 않다.</p>
                        </div>
                    </div>
                        
                    <div style="position: absolute; bottom:65px; padding-bottom: 50px; width:600px; border-bottom:1.5px solid white; "></div>
                </div>
            </div>  
        </div>        
    </div>

</body>
    
    
    
            
</html>
