
  
     <!-- Header
	============================================= -->
        <div class="main_nav">
           <h1 class="main_logo">
             <a href="#" title="wanducong" class="sprite logo_link"></a>
           </h1>
            
  <section id="search">
        <div class="container">
            <div class="nav-search col-md-10">
             <form role="search" class="navsearch-form" action="#" method="get">
              <input class="navsearch-field col-md-10" type="text" name="s" id="s" placeholder=" ex : 홍대카페"
                      required>
              <button class="navbtn navsearch-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
    </section>
           
 <!--회원 정보 부분 -->
           <div class="main_menu">
             <a href="#" class="login_link">안녕하세요!</a>
           </div>
         </div>
           
  
        
        
        
<!--카테고리-->
      <div class ="container">
        <div class="mypage-wrap">  
            <button class="col-1" onclick="common_ga('PU_DWN_FILTER', 'CLICK_FILTER_APPLY')" value="" ng-click="do_filter_search()" >내가 가고싶은 카페</button>
            <button class="col-2" onclick="common_ga('PU_DWN_FILTER', 'CLICK_FILTER_APPLY')" value="" ng-click="do_filter_search()">내가 등록한 카페</button>
        </div>
    </div>
     

         <!-- 카페리스트
	============================================= -->
<!--
    -->
     <section id="cafe-list">
        <div class="list-container">
            <ul class="grid-4">
                <li class="grid col-md-4">
                    <a href="cafe-romont.html" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe01.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페 로몽</span>
                            <br>
                            <span class="cafe-info">조용하고 한적한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe02.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe03.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe04.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe05.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe06.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe07.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
                <li class="grid col-md-4">
                    <a href="#" class="cafe-box">
                        <div class="box">
                            <img src="assets/img/cafe/cafe08.png">
                        </div>
                        <div class="inner">
                            <span class="cafe-title">카페K375</span>
                            <br>
                            <span class="cafe-info">분위기 좋고 조용한 카페</span>
                        </div>
                    </a>
                    <a href="/" class="sprite scrap">
                    </a>
                </li>
            </ul>
        </div>
        <div class="more-btn">
            <div class="container">
                <a href="/" class="more-click">
                    더보기
                </a>
            </div>
        </div>
    </section>
        <div class="footer">
        <div class="container">
            <div class="social">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
            </div>
            <h6>&copy; 2016 Development By Wonducong Team</h6>
        </div>
    </div>
        